# Ignorar TODA la carpeta de datos, no importa lo que haya dentro
data/

# Ignorar archivos pesados por extensión (por si están fuera de /data)
*.edf
*.bin
*.npy
*.pdf

# Python y Entornos
__pycache__/
*.pyc
.ipynb_checkpoints/

# Resultados
checkpoints/
experiments/predictions/